# for notebook execution
jupyterlab>=4.0.8

# standard libraries (Note that matplotlib contains numpy)
matplotlib>=3.8.1

# ML/DL libraries
pandas>=2.1.3
scikit-learn>=1.3.2
tensorboard>=2.15.1
torch>=2.1.0
wandb>=0.16.0

# MNIST dataset
torchvision>=0.16.0
